.caixaMenor {
    height: 500px;
    background-color: #282828;
}

.form {
    background-color: rgb(81, 79, 79);
    width: 80%;
    height: 65%;
    border: solid 1px #817979;
    border-radius: 8px;
}


#caixa-menor {
    margin-bottom: 1px;
    color: rgb(255, 255, 255);
}

.titulo {

    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;

}

.titulo span {

    color: aliceblue;
    font-size: 25px;
    text-align: center;
}

.titulo h2 {
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 25px;

}

.h2 {
    text-align: center;
    width: fit-content;
}

.formInput input {

    flex-direction: column;
    width: 300px;
    border: solid 3px #222121;
    border-radius: 5px;

}


.formInput label {
    margin-top: 4px;
    margin-bottom: 1px;
}


#btnNovaSenha {
    margin-top: 3px;
    border-radius: 5px;
    width: 190px;
}

#loadingAtualizarSenha {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    height: 15px;
    background-color: #948f8f;
    transition: 2s;
}