* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #101010 !important;
}

main {
    display: flex;
    flex-direction: row;
}

#navMenu {
    display: flex;
    background-color: #121212;
    justify-content: center;
    position: relative;
    top: 0;
    align-items: center;
    z-index: +1000;
}

#navMenu .container {
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
}

.imgNavBar {
    margin: 20px;
}

.listaItens {
    display: flex;
    align-items: center;
    margin: 0px;
}

.listaItens li {
    list-style: none;
    color: white;
}

.listaItens li a {
    list-style: none;
    color: white;
    margin: 0px 10px;
}



.containerClass {
    width: 100%;
    display: flex;
    justify-content: center;

}

.containerCLASS {
    display: flex;
    justify-content: center;
    width: 80%;
}


.alert {
    background-color: red;
    border-radius: 1000px;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 9px 14px;
}

h3 {
    margin: 0px;
    font-weight: bold;
}

.card-infos {
    height: 20%;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;
    background-color: #222222;
}

#caixa-maior {
    width: 100%;
    box-shadow: rgba(10, 9, 9, 0.2) 0px 2px 8px 0px;
    background-color: #222121;
    border-radius: 7px;
    margin: 20px 0px;
}

.verde {
    background-color: #0FFF19;
    height: 100%;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

.amarelo {
    background-color: #FFF50F;
    height: 100%;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

.laranja {
    background-color: #FF6B00;
    height: 100%;
    width: 25%;
    text-align: center;
    font-weight: bold;
    margin: auto 0;
}

.vermelho {
    background-color: #FF0F0F;
    height: 100%;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

#titleLegenda {
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin: 10px 0px 0px 0px;
}

.txtLegenda {
    color: white;
    padding: 5px 0px;
    width: 25%;
    /* margin: 0px 10px; */
    font-size: 18px;
    font-weight: bold;
}

.txtTituloPequeno {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}


.selectDash {
    user-select: none;
    cursor: pointer;
}

.legenda_dash {
    height: fit-content;
    background-color: rgb(96, 96, 96);
    border-radius: 6px;
    padding: 20px 0px;
    margin: 20px 0px;
}

.legenda_dash h3 {

    padding: 20px 0px;
    margin: 20px 0px;
}

.ativo {
    background: #303030;
}

.desativado {
    background: #222222;
}

.topLabel {
    display: flex;
    background-color: rgb(75, 75, 75);
    color: white;

}

.itemlabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid black;
    padding: 30px 0px;
}

.dashAlturaPadrao {
    max-height: 90vh;
    min-height: 100vh;
    min-height: 80vh;
    padding: 40px 0px;
}

#dash_disco {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dash_cpu {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#dash_ram {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#dash_rede {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.titleLegenda {
    color: white;
    padding: 20px 0px;
}

.legendaContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: #6d6d6d;
    margin: 20px auto;
    border-radius: 8px;
}

.legendaColor {
    width: 95%;
    height: 30px;
    display: flex;
}

.legendaText {
    display: flex;
    justify-content: space-around;
    width: 95%;
    color: white;
}

.legendaText {
    padding: 5px 0px;
}

.legendaText h4 {
    padding: 0px;
    margin: 0px;
}

#dash_config {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec01_config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 80vh;
    background-color: #424242;
    margin: 20px 10px 20px 20px;
    color: white;
    padding: 10px;
}

#sec01_01 {

    height: 100%;
    background-color: #3b3b3b;
    margin: 10px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#sec01_02 {

    height: 40%;
    background-color: #3b3b3b;
    margin: 10px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}


#configuracoesMaquinaAtual li {
    margin: 20px 20px;
}

#sec01_config h2 {
    text-align: center;
}

#sec02_config {
    width: 50%;
    height: 90%;
    background-color: #3b3b3b;
    margin: 20px 20px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graficos {
    margin: 50px;
}

.graficoEspecifico {
    display: flex;
    justify-content: center;


    height: 500px;

}


#chartRede {
    width: 100%;
}

#dashRede {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* forms*/
#sec02_config form {
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;

}

.form-group label h3 {
    font-size: 15px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="date"],
.form-group button {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.form-group button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #45a049;
}


/*forms*/