main{
    display: flex;
}

.relatorio-caixa{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 570px;
    left: 510px;
    top: 160px;
    background: #7B0909;
}

.relatorio-conteudo{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.relatorio-conteudo h1{
    font-size: 30px;
    font-weight: bold;
}

.relatorio-conteudo h3{
    font-size: 20px;
    font-weight: bold;
}

.relatorio-conteudo #descricao{
    height: 200px;
}

.bolinha-select {
    display: flex;
}
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  
  input[type="radio"]:checked + label {
    background-color: blue;
  }

.relatorio-conteudo button{
    position: absolute;
    font-weight: bold;
    width: 168px;
    top: 520px;
    background: #D9D9D9;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
