
.caixaMenor {
    width: 100px;
}

#caixa-menor {
    margin-bottom: 1px;
    color: white;
}

.formInput input {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
    border: solid 3px #222121;
    border-radius: 5px;
}

.formInput label {
    margin-bottom: 1px;
}


#btnNovaSenha {
    margin-top: 3px;
    border-radius: 5px;
    width: 190px;
    margin-left: 50px;
}

#loadingAtualizarSenha {
    border-radius: 10px;
    /* margin: px; */
    height: 10px;
    background-color: #4D4D4D;
    transition: 2s;
}